@import "bytemd/dist/index.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 6px 12px;
  height: 100vh;
}

.container > h1 {
  text-align: center;
  height: 50px;
  line-height: 50px;
}

.container > div {
  flex: 1;

  display: flex;
  flex-direction: column;
}

.bytemd {
  flex: auto;
}

.markdown-body p {
  line-height: 1.6em;
  margin-bottom: 1rem;
}

.bytemd-toolbar-icon {
  display: none !important;
}

/* 只显示最后两个列表按钮 */
.bytemd-toolbar-icon[bytemd-tippy-path="11"],
.bytemd-toolbar-icon[bytemd-tippy-path="12"] {
  display: inline-flex !important;
}
