@import "bytemd/dist/index.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 6px 12px;
  height: 100vh;

  /* 护眼绿 */
  background-color: #c7edcc;

  overflow: auto;
}

.container > h1 {
  text-align: center;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
}

.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 6px 12px;
}

.editor-header button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: beige;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.editor-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.editor-container > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.bytemd {
  flex: auto;
}

.markdown-body {
  margin: 0 auto;
}

.markdown-body p {
  line-height: 2em;
  margin-bottom: 1rem;
  max-width: 800px;
  font-size: 18px;
}

.bytemd-toolbar {
  display: none;
}
